<header>
  <nav>
    <div class="navitems-container">
      <div class="nav-img">
        <img src="../../../assets/icon-sedans.svg" alt="" />
      </div>
      <ul class="links_container">
        <li><a class="nav-link" href="#">Home</a></li>
        <li><a class="nav-link" href="#section__2">About</a></li>
        <li>
          <a class="nav-link btn--show-modal" href="#" (click)="openForm()"
            >contact</a
          >
        </li>
        <li><a class="nav-link" href="">Experiences</a></li>
      </ul>
    </div>
  </nav>
</header>
