<section id="section__2">
  <div class="bio_main">
    <div class="bio_sec">
      <div class="bio_sec_left">
        <h2>About Me</h2>
        <p>I'm a result-driven and self-motivated graduate of Mathematics .</p>
        <p>
          I'm a design oriented frontend developer focused on building quality,
          awesome, exceptional interfaces and experiences with the aid of modern
          tech tools.
        </p>
        <p>
          I love and enjoy my job, and am always eager to learn new and trending
          technologies to keep myself abreast and updated in the industry.
        </p>
        <p>
          It's always my joy using my logical skills in turning pfeless User
          Interface(UI) & User Experience(UX) designs into interactive webpages
          and apppcations using codes.
        </p>
        <p>
          My continuous objective is to always build apppcations that are
          scalable and efficient within various devices thereby giving my users
          the best experience they deserve. 👍
        </p>
      </div>

      <div class="bio_sec_right">
        <div class="bio_sec_right_text">
          <h2 class="skills">Skills</h2>

          <p>HTML &rarr; 70%</p>
          <p>CSS &rarr; 60%</p>
          <p>BootStrap &rarr; 50%</p>
          <p>JavaScript &rarr; 50%</p>
          <p>React JS &rarr; 40%</p>
          <p>Git &rarr; 50%</p>
          <p>GitHub &rarr; 50%</p>
        </div>
      </div>
    </div>
  </div>
</section>
