<section id="section__3">
  <!-- footer -->
  <footer>
    <div class="footer-container">
      <div class="left-footer-container">
        <h4>Connect</h4>
        <div class="social-icons">
          <a href=""
            ><img width="30px" height="25px" src="../../../assets/facebook.png" alt=""
          /></a>
          <a href=""
            ><img width="30px" height="25px" src="../../../assets/instagram.jpg" alt=""
          /></a>
          <a href="">
            <img width="30px" height="25px" src="../../../assets/twiter.png" alt=""
          /></a>
        </div>
      </div>
      <div class="right-footer-container">
        <h4>
          Copyright &copy; 2021. All rights reserved.| This portfolio is made by
          Stanley.
        </h4>
      </div>
    </div>
  </footer>
</section>


