<!-- Contact -->
<div class="modal hidden">
  <button class="btn--close-modal">&times;</button>
  <h2 class="modal__header">
    Get in touch with Stanley <br />
    in just <span class="highlight">5 minutes</span>
  </h2>
  <form class="modal__form">
    <label>First Name</label>
    <input type="text" /> <br />
    <br />
    <label>Last Name</label>
    <input type="text" /><br />
    <br />
    <label>Email Address</label>
    <input type="email" /><br />
    <br />
    <button class="btn">Send Message</button>
  </form>
</div>
<div class="overlay hidden"></div>
